
<h5>Mybrary ©<%= new Date().getFullYear() %></h5>
<ul class="social-links">
    <li>
        <a href="https://github.com/TecHeReTiC3141" target="_blank" class="social">
            <i class="fa-brands fa-github"></i>
<!--            <div class="tooltip">Github</div>-->
        </a>
    </li>
    <li>
        <a href="https://vk.com/techeretic" target="_blank" class="social">
            <i class="fa-brands fa-vk"></i>
<!--            <div class="tooltip">VK</div>-->
        </a>
    </li>
    <li>
        <a href="https://t.me/TecHeReTiC" target="_blank" class="social">
            <i class="fa-brands fa-telegram"></i>
<!--            <div class="tooltip">Telegram</div>-->
        </a>
    </li>
    <li>
        <a href="https://discordapp.com/users/TecHeReTiC#0402" target="_blank" class="social">
            <i class="fa-brands fa-discord"></i>
<!--            <div class="tooltip">Discord</div>-->
        </a>
    </li>
</ul>
