<header>
    <h1 class="caption"><a href="/">Mybrary</a></h1>
    <div class="navbar">
        <ul class="nav">
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </div>

</header>