<header>
    <h1><a class="caption header-link"href="/">Mybrary</a></h1>
    <div class="navbar">
        <ul class="nav">
            <li ><a class="header-link" href="/books">Books</a></li>
            <li><a class="header-link" href="/books/new">Add Book</a></li>
            <li><a class="header-link" href="/authors">Authors</a></li>
            <% if (!isAuthenticated) { %>
                <li><a class="header-link" href="/authors/login">Login/Register</a></li>
            <% } else { %>
                <li><a class="header-link" href="/authors/<%= user.ID %>">Profile</a></li>

            <% } %>
        </ul>
    </div>

</header>
