@import 'shared/fonts.css';
@import 'css/general.css';
@import 'css/header.css';
@import 'css/buttons.css';
@import 'css/forms.css';
@import 'css/authors.css';
@import 'css/books.css';
@import 'css/marks.css';

:root {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 1.25em;
    color: var(--color-text-light);
}