<div class="form-row">
    <div class="form-item">
        <label for="name">Name </label>
        <input type="text" name="name" id="name" value="<%= author?.name %>" required>
    </div>
    <div class="form-item">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="<%= author?.email %>" required>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="password">Password</label>
        <input  type="password" name="password" id="password" value="" required>
    </div>

    <div class="form-item">
        <label for="age">Age</label>
        <input  type="age" name="age" id="age" value="<%= author?.age %>">
    </div>
</div>
<div class="form-item">
    <label for="biography">Biography</label>
    <textarea name="biography" id="biography" cols="30" rows="10"><%= author?.biography %></textarea>
</div>