<h2 class="page-header"><%= author.name %> Info</h2>

<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.ID %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/authors/${author.ID}` }) %>
</div>

<h3 class="page-header">Books by author</h3>
<% if (books.length) { %>
    <div class="books">
        <ul>
            <% books.forEach(book => { %>
                <%- include('../partials/renderBook', { book }) %>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <p>Still no books </p>
<% } %>