<h2 class="page-header"><%= author.name %> Info</h2>

<%- include('../partials/renderAuthor') %>
<h3 class="page-header">Books by author</h3>
<% if (books.length) { %>
    <%- include('../partials/renderBookGrid', { books }) %>
<% } else { %>
    <p>Still no books </p>
<% } %>