<h2 class="page-header"><%= author.name %> Info</h2>

<%- include('../partials/renderAuthor') %>
<h3 class="page-header">Books by author</h3>
<% if (books.length) { %>
    <div class="books">
        <%- include('../partials/renderBookGrid', { books }) %>
    </div>
<% } else { %>
    <p>No books yet </p>
<% } %>